@use "_reset";

:root {
  --theme-color: #db4d6f;
  --dark-theme-color: rgb(83, 27, 35);
  --lightDark-theme-color: rgb(168, 54, 71);
  --background-color: #222;
  --active-background-color: #3c3c3c;
  --foreground-color: #ccc;

  --odd-color: #282828;
  --even-color: #353535;

  // color palette
  --primary-900: #f38112;
  --primary-800: #f6aa23;
  --primary-700: #f8c22c; //
  --primary-600: #fada35;
  --primary-500: #f6e836;
  --primary-400: #f9ed56;
  --primary-300: #fbf176;
  --primary-200: #fcf69d;
  --primary-100: #fefac4;

  --secondary-900: #b73d19;
  --secondary-800: #d14820;
  --secondary-700: #df4f23;
  --secondary-600: #ed5628;
  --secondary-500: #f85c2c; //
  --secondary-400: #f9734a;
  --secondary-300: #f98c6a;
  --secondary-200: #faac94;
  --secondary-100: #fcccbe;

  --tertiary-900: #888e00;
  --tertiary-800: #9fb500;
  --tertiary-700: #aecd14;
  --tertiary-600: #bde523;
  --tertiary-500: #c8f82c; //
  --tertiary-400: #cef851;
  --tertiary-300: #d8fb74;
  --tertiary-200: #e3fc9e;
  --tertiary-100: #effdc5;

  // --gray-100: #f1f1f2;
  // --gray-200: #e6e7e9;
  // --gray-300: #d2d4d7;
  // --gray-400: #a9adb2;
  // --gray-500: #797f88;
  // --gray-600: #4d5560;
  // --gray-700: #2e3744;
  // --gray-800: #19202b;
  // --gray-900: #141a23;

  --gray-50: #f7f7f7;
  --gray-100: #ebedee;
  --gray-200: #e7e7e7;
  --gray-300: #d5d5d5;
  --gray-400: #9696a2;
  --gray-500: #81808d;
  --gray-600: #4d4c54;
  --gray-700: #313135;
  --gray-800: #1b1a1f;
  --gray-900: #131215;
}

html {
  font-size: 16px;
}
body {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/app.svg"),
    linear-gradient(gray, rgb(80, 80, 80));
  background-repeat: no-repeat, repeat;
  background-position: right 2rem bottom 2rem, center;
  overflow: hidden;

  background-image: linear-gradient(gray, rgba(68, 68, 68, 0.8)),
    url("/images/app.svg");
  background-repeat: repeat, no-repeat;
  background-position: center, right 2rem bottom 2rem;

  &.darkMode {
    background-image: url("/images/app.svg"), linear-gradient(#1e1e1e, #424242);
  }
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

// 要検討
.hidden {
  display: none !important;
}
.clickable {
  cursor: pointer;
}
.clickable:active:not([disabled]) {
  transform: scale(0.95);
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

// /* デフォルトスタイル */
// input[type='text'],
// input[type='password'],
// input[type='email'] {
//     outline: none;
//     background-color: #fff3;
//     // background-color: #fff5;
//     border-bottom: 0.3rem solid rgba(0, 0, 0, 0.3);
// }

// input[type='text']:focus,
// input[type='password']:focus,
// input[type='email']:focus {
//     background-color: #fff6;
//     // background-color: #eee;
//     border-bottom: 0.3rem solid rgba(200, 0, 0, 0.3);
// }
