@use "../styles/_reset";

html {
  font-size: 16px;
}
body {
  color: var(--gray-800);
  background-color: var(--gray-300);
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  --gray-50: #f7f7f7;
  --gray-100: #ebedee;
  --gray-200: #e7e7e7;
  --gray-300: #d5d5d5;
  --gray-400: #9696a2;
  --gray-500: #81808d;
  --gray-600: #4d4c54;
  --gray-700: #313135;
  --gray-800: #1b1a1f;
  --gray-900: #131215;
}
body.dark {
  --gray-50: #131215;
  --gray-100: #1b1a1f;
  --gray-200: #313135;
  --gray-300: #4d4c54;
  --gray-400: #81808d;
  --gray-500: #9696a2;
  --gray-600: #d5d5d5;
  --gray-700: #e7e7e7;
  --gray-800: #ebedee;
  --gray-900: #f7f7f7;
}

#app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
nav {
  position: fixed;
  display: block;
  left: -17rem;
  top: 0;
  width: 17rem;
  height: 100vh;
  background-color: var(--gray-200);
  color: var(--gray-800);
  flex-shrink: 0;
  padding: 1rem;

  transition: 0.3s;
  opacity: 0.5;
  &.open {
    left: 0;
    top: 0;
    opacity: 1;
  }
}
main {
  flex-grow: 1;
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.menuButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--gray-400);
  border-radius: 50%;

  span,
  span:before,
  span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: var(--gray-600);
    position: absolute;

    transition: 0.3s;
  }

  span:before {
    bottom: 8px;
  }

  span:after {
    top: 8px;
  }
}
.open .menuButton {
  span {
    background-color: rgba(255, 255, 255, 0);

    &::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.directory {
  margin-left: 4rem;
}
button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: var(--gray-100);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px var(--gray-300);
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: var(--gray-700);
  transition: box-shadow 0.15s ease, transform 0.15s ease;

  &:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
      0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px var(--gray-300);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: inset 0px 3px 7px var(--gray-300);
    transform: translateY(2px);
  }
}

ul {
  padding: 1rem 0;
}
li {
  display: block;
  color: var(--gray-500);
  padding-left: 1rem;
  line-height: 2rem;
  cursor: pointer;

  &:hover {
    color: var(--gray-800);
    text-decoration: underline;
  }
}
