.sideMenu {
  width: 15rem;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  button {
    height: 2rem;
    width: 2rem;

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

.title {
  font-size: 2rem;
}
.subTitle {
  color: var(--gray-700);
}
