@use "../../styles/_textbox";
@use "../../styles/_button";

.dialogContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 30rem;
    border: solid 0.3rem black;
    border-radius: 1rem;
    margin: auto;
    background-color: #00000055;
    text-align: center;
  }

  .appIcon {
    width: 5rem;
    height: 5rem;
    background-image: url("/images/app.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  button {
    display: inline-block;
    font-weight: bold;
  }
}
