@use "../../styles/_button";

.dialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 30rem;
    border: solid 0.3rem black;
    border-radius: 1rem;
    margin: auto;
    background-color: #00000055;
    text-align: center;
  }

  .appIcon {
    width: 4rem;
    height: 4rem;

    svg {
      fill: #f8c32c;
      width: inherit;
      height: inherit;
    }
  }

  button {
    display: inline-block;
    font-weight: bold;
  }
}
