.sideMenu {
  width: 15rem;
  height: 100vh;
  overflow-x: visible;
  overflow-y: auto;
  padding-top: 3rem;
  padding-left: 1rem;
  scrollbar-gutter: stable;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;

  button {
    height: 2rem;
    width: 2rem;

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

.title {
  font-size: 2rem;
}
.subTitle {
  font-size: 0.8rem;
  color: var(--gray-400);
}

.tabs {
  &[open] > summary:first-of-type {
    list-style-type: disclosure-open;
  }
  & > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
  }
}

.selectable {
  color: var(--gray-500);
  padding-left: 1rem;
  cursor: pointer;

  &:hover {
    color: var(--gray-800);
    text-decoration: underline;
  }
}
