@use '../styles/_common';
@use '../styles/_textbox';
@use '../styles/_button';

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.loginDialog {
  display: flex;
  flex-direction: column;
  width: 40rem;
  // height: 40rem;
  border: solid 5px black;
  border-radius: 1rem;
  margin: auto;
  background-color: #00000055;
}

.appIcon {
  height: 5rem;
  background-image: url('/images/app.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem 0 1rem;
}

.description {
  font-size: 2rem;
  color: #ccc;
  text-shadow: 0 0 1rem #000;
  padding: 1rem;
  text-align: center;
}

.buttons {
  text-align: center;
  padding: 3rem 0;
}

button {
  display: inline-block;
  width: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

.errorMessage {
  color: red;
  text-align: center;
}
